body {
  padding: 5rem;
}

.slider {
  position: relative;
  overflow: hidden;
  width: 700px;
}

.slider__track {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.slider__body {
  display: flex;
  gap: 2rem;
}

.slider__item {
  flex-shrink: 0;
  width: 300px;
  height: 200px;
  background-color: #f5f5f5;
  pointer-events: none;
}

.slider__item:nth-child(1) {
  background-color: blue;
}
.slider__item:nth-child(2) {
  background-color: violet;
}
.slider__item:nth-child(3) {
  background-color: red;
}
.slider__item:nth-child(4) {
  background-color: yellow;
}
.slider__item:nth-child(5) {
  background-color: green;
}
